<!DOCTYPE html>
<html lang="pt-PT">
{% include partials/head.html %}
<body>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <div class="main-container">
        {{ content }}
      </div>
    </div>
  </div>
  
  {% include modals/inventario.html %}
  {% include modals/deslocacao.html %}
  {% include modals/reembolso.html %}
  {% include modals/medicina.html %}
  {% include modals/formacao.html %}
  
  {% include partials/toast.html %}
  {% include partials/scripts.html %}
</body>
</html>
